html {
    height:100%;
}


body {
    position: relative;
    min-height: 100%;
}


footer {
    position:absolute;
    width:100%;
    bottom:0;
}



.dropdown-item {
    text-align:center;
}



body * {
    margin: auto;
}

body .modal-dialog * {
    margin:initial;
}

body p {
    margin-top: 0;
    margin-bottom: 1rem;
}


.form-control:focus {
    border-color: #17a2b8;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(23, 162, 184, 0.83);
}


.copy-to-clipboard.copy-to-clipboard-absolute {
    position:absolute;
    top:0;
    bottom:0;
    right:.32rem;
    margin:auto;
    display:flex;
    align-items:center;
}

.alert-success.alert-success-message.fixed-bottom {
    display:none;
}


.formQuantityGroupCollapse.collapsing {
    transition:none;
}


.formQuantityGroupCollapseGroup.formQuantityGroupCollapseGroup-hidden {
    display: none;
}


.alternative-checkbox.alternative-checkbox-switch-toggler {
    padding-left: calc(2.2em + .325rem);
}


    .alternative-checkbox.alternative-checkbox-switch-toggler label {
        position: relative;
    }


        .alternative-checkbox.alternative-checkbox-switch-toggler label::before {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            right: calc(100% + .325rem);
            height: calc(9 * 2.2em/20);
            width: calc(9 * 2.2em/20);
            border-radius: 50%;
            margin-right: calc(2.2em - 9 * 2.2em/20 - .18em);
            background-color: #bdc3c7;
            margin-top: auto;
            margin-bottom: auto;
            z-index: 1;
            transition: all .5s;
        }


        .alternative-checkbox.alternative-checkbox-switch-toggler label::after {
            content: '';
            position: absolute;
            top: 0;
            right: 100%;
            bottom: 0;
            align-self: center;
            width: 2.2em;
            border-radius: 1rem;
            border-color: #cdd2d6;
            border-style: solid;
            border-width: .03rem;
            margin: .1rem 0;
            margin-right: .325rem;
            transition: all .5s;
        }


    .alternative-checkbox.alternative-checkbox-switch-toggler input[type="checkbox"]:checked + input[type="hidden"] + label::before, .alternative-checkbox.alternative-checkbox-switch-toggler input[type="checkbox"]:checked + label::before {
        margin-right: .18em;
        background-color: white;
    }

    .alternative-checkbox.alternative-checkbox-switch-toggler input[type="checkbox"]:checked + input[type="hidden"] + label::after, .alternative-checkbox.alternative-checkbox-switch-toggler input[type="checkbox"]:checked + label::after {
        background-color: #5a656b;
    }
        .alternative-checkbox.alternative-checkbox-switch-toggler input[type="checkbox"], .alternative-checkbox.alternative-checkbox-switch-toggler input[type="hidden"] {
        display: none;
    }


.color-picker {
    display: table;
}


    .color-picker input[type="text"] {
        box-shadow:none;
    }



    @media (min-width: 576px) {
    }


@media (min-width: 768px) {
    .dropdown-item {
        text-align: left;
    }

    body * {
        margin: initial;
    }
}


@media (min-width: 992px) {
}


@media (min-width: 1200px) {
}